name: Python CI/CD

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies from pyproject.toml
        run: |
          python -m pip install --upgrade pip
          pip install poetry
          poetry install --no-root

# skip first test step for faster builds  
      # - name: Run tests
      #   run: |
      #     poetry run pytest

      - name: Build artifact
        run: |
          poetry build
      - uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist/

  deploy-dev:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: dev
    steps:
      - uses: actions/checkout@v3
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: ./dist
      - name: Dummy Deploy
        run: |
          echo "Deploying to DEV (dummy)..."
          ls ./dist
          echo "This is a placeholder deployment."
