name: Deploy Frontend Dev

on:
  workflow_run:
    workflows: ["Build Frontend"]
    types: [completed]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        run: |
          REPO_LOWER=$(echo "${github.repository}" | tr '[:upper:]' '[:lower:]')

          docker pull ghcr.io/${{ REPO_LOWER }}/frontend:${{ github.sha }}
          docker run -d -p 3000:3000 \
            ghcr.io/${{ REPO_LOWER }}/frontend:${{ github.sha }}
