name: Build Frontend

on:
  push:
    paths:
      - frontend/**
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install deps
        working-directory: frontend
        run: npm ci

      - name: Build
        working-directory: frontend
        run: npm run build

      - name: Build Docker Image
        run: |
          docker build \
            -t ghcr.io/${{ github.repository }}/frontend:${{ github.sha }} \
            frontend

      - name: Push
        run: |
          echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker push ghcr.io/${{ github.repository }}/frontend:${{ github.sha }}
